* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: url('img/marvelbg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

#card {
  margin-right: 1rem;
  margin-left: 1rem;
}
